.container{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    max-width:300px;
    margin:auto;
}

.box{
    width:100px;
    height:100px;
    background-color:bisque;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:64pt;
}

p{
    width:100%;
    text-align:center;
}

#box1, #box2, #box4, #box5, #box3, #box6 {
    border-bottom: 3px solid black;
}

#box1, #box2, #box4, #box5, #box7, #box8 {
    border-right:3px solid black;
}

body{
    display:flex;
    flex-direction:column;
}
button{
    width:25%;
    margin: 50px auto 0 auto;
    font-size:16pt;
    background-color:deepskyblue;
    border:none;
    padding:15px;
    color:white;
    border-radius:30px;
}